__pycache__/
.ipynb_checkpoints/

# a scratch notebook for code experiments
src/scratch.ipynb

# data downloaded locally for further processing
src/cache/

# TESS data products downloaded locally for vetting individual targets
vetting/data/mastDownload
# cache for HJD UTC conversion
vetting/data/hjd
# temporary dir to export processed lightcurves to be used by VStar, vartools, etc.
vetting/data/lightkurve

# list of TICs for prefetch one use
vetting/tics_prefetch_list*.txt

tmp/
